[Unit]
Description=BB Radar Service
After=network.target

[Service]
Type=simple
User=lain
WorkingDirectory=/home/lain/bb-radar
ExecStart=./start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

